#title{
  text-align: center;
}

#graph {
  display: flex;
  justify-content: center;
}

svg {
  padding: 30px 0px 30px 60px;
}

#tooltip{
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  border-radius: 3px;
  background-color: powderblue;
  color: black;
}